#user  nobody;
worker_processes  1;

#error_log  logs/error.log;
#error_log  logs/error.log  notice;
#error_log  logs/error.log  info;

#pid        logs/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout  65;


    server {
        listen       80;
        server_name  localhost;

        #location / {
        #    root   html;
        #    index  index.html index.htm;
        #}
        #error_page   500 502 503 504  /50x.html;
        #location = /50x.html {
         #   root   html;
        #}

        location ^~ /jenkins/ {
           #try_files $uri =404;
           #fastcgi_pass {{ ansible_default_ipv4.address }}:80;
           proxy_pass http://{{ ansible_default_ipv4.address }}:8080/login?from=%2F;
           #proxy_redirect http://{{ ansible_default_ipv4.address }}:8000 /;
           proxy_set_header   Host             $host;
           proxy_set_header   X-Real-IP        $remote_addr;
           proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;           
           proxy_max_temp_file_size 0;

           #client_max_body_size       10m;
           #client_body_buffer_size    128k;

           #proxy_connect_timeout      90;
           #proxy_send_timeout         90;
           #proxy_read_timeout         90;

           #proxy_temp_file_write_size 64k;
           }

        location ^~ /adcm/ {
           #try_files $uri =404;
           #fastcgi_pass {{ ansible_default_ipv4.address }}:80;
           proxy_pass http://{{ ansible_default_ipv4.address }}:8000/login;
           #proxy_redirect http://{{ ansible_default_ipv4.address }}:8000 /;
           proxy_set_header Host $host;
           proxy_set_header X-Forwarded_For $proxy_add_x_forwarded_for;
           proxy_set_header X-Real-IP $remote_addr;
          }


        #location /jen/ {
        # Convert inbound WAN requests for https://domain.tld/jenkins/ to 
        # local network requests for http://10.0.0.100:8080/jenkins/
        #proxy_pass http://192.168.88.40:8080/jen;
        
        # Rewrite HTTPS requests from WAN to HTTP requests on LAN

        # The following settings from https://wiki.jenkins-ci.org/display/JENKINS/Running+Hudson+behind+Nginx

        #proxy_set_header   Host             $host:$server_port;
      #  proxy_set_header   X-Real-IP        $remote_addr;
       # proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;

        # This is the maximum upload size
 
       # }


    }

}
